# Managed Amazon RDS instance
INSTANCE=""
INSTANCE_PARAM_GROUP=""
INSTANCE_SUBNET_GROUP=""
INSTANCE_CLASS="db.m1.large"
INSTANCE_VPC_SECURITY_GROUPS=""
INSTANCE_AVAILABILITY_ZONE=""

# Managed Amazon RDS instance source snapshot
SNAPSHOT=""
SNAPSHOT_INSTANCE=""

# Managed Amazon RDS database
DATABASE_NAME=""
DATABASE_HOST=""
DATABASE_OFFSET="1000000000"
DATABASE_USERDATA_SQL_FILE="temp.sql"

DATABASE_MIGRATION_SOURCE_DIR="$1"
DATABASE_MIGRATION_TARGET_DIR="$HOME/sql-migration"
